[data-theme ='light']{
  --bg-color: white;
  --color: black;

}
[data-theme = 'dark']{
  --bg-color: black;
  --color: white;

}

body{
  background-color: var(--bg-color);
  color: var(--color);
}



#pagination__pageNO__box{
 display: grid;
 place-items: center;
  height:20px;
  width:20px;
  border: 1px solid black;
  margin:5px;
  border-radius: 5px;
}
.pagination__pageNO{
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 200px;
  
}
.prev__button{


}
.next__button{

}
.selectedPageHover{
  background-color: grey;
}
